/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.container {
  color: var(--text);
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3/7;
  margin: auto;
}

.container h1 {
  margin: 20px 0;
}
