.container {
  text-align: center;
  max-width: 728px;
  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translatex(-50%);
  box-shadow: 0 0 10px var(--divider);
  display: grid;
}

.container header {
  background-color: var(--primary);
  height: 65px;
  color: var(--text);
  width: 100%;
  max-width: 728px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--divider);
}

.container button {
  background-color: var(--accent);
  border: none;
  color: var(--text);
  padding: 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 10px;
}

main {
  padding: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

main::-webkit-scrollbar {
  width: 5px;
}

main::-webkit-scrollbar-track {
  background: var(--divider);
}

main::-webkit-scrollbar-thumb {
  background: var(--accent);
}

main div {
  max-width: 75%;
  margin-bottom: 10px;
  padding: 10px;
  color: var(--text);
  overflow-wrap: break-word;
  border-radius: 10px;
}

.sent {
  background-color: var(--divider);
  align-self: flex-end;
}

.received {
  background-color: var(--light-primary);
  align-self: flex-start;
}

main div p {
  margin: 0;
}

main div p:last-child {
  margin-top: 5px;
  font-size: 0.75rem;
  color: var(--dark-primary);
}

main a {
  color: var(--text);
  text-decoration: none;
}

main a:hover {
  color: var(--accent);
}

.container form {
  height: 65px;
  background-color: var(--primary);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.25rem;
  border-top: 1px solid var(--divider);
}

.container form input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.25rem;
  background-color: var(--light-primary);
  color: var(--text);
  outline: none;
  border: none;
  margin: 10px;
  padding: 0 10px;
  border-radius: 10px;
}

.container form button {
  width: 20%;
  margin: 10px;
}
