* {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary: #036280;
  --dark-primary: #012e4a;
  --light-primary: #81bece;
  --text: #0c151c;
  --accent: #378ba4;
  --divider: #e8ede7;
}

body {
  background-color: var(--dark-primary);
  margin: 0;
}

#root {
  position: relative;
}
